/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --black: #3a3a3a;
  --button-background: #e02c6d;
}
.container {
  /* padding: 87px 120px 0px 120px; */
  width: 90%;
  margin: auto;
}
/* header styles */
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 68px 0px 12px 0px;
}
.logo {
  font-size: 22px;
  color: var(--black);
}
.logo-bars li {
  display: none;
}
.menu ul {
  display: flex;
}
.menu ul li {
  list-style-type: none;
  padding: 0px 10px;
}
.menu ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--black);
}

/* banner section styles */
.banner-wrapper {
  display: flex;
  align-items: center;
  gap: 133px;
  height: 80vh;
}
.banner-title {
  font-size: 42px;
  margin-bottom: 16px;
  color: var(--black);
}
.banner-description {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
  color: var(--black);
}
.banner-btn {
  background-color: var(--button-background);
  padding: 10px 24px;
  border: none;
  border-radius: 25px;
  color: #fff;
}
.banner-right {
  background-image: url("../assests/images/Circle\ design.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.banner-camera-img {
  width: 440px;
  height: 414px;
}

/* company logo section styles */
.all-logo-company {
  width: 1110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.single-logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* popular collection style */
#popular-collection {
  margin-top: 100px;
}
.popular-collection-title {
  text-align: center;
  font-size: 28px;
  color: var(--black);
  margin-bottom: 30px;
}
.all-collection-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.card {
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 17px 25px;
}
.card-img {
  width: 100%;
}
.card-details .name {
  font-weight: 500;
  font-size: 28px;
  color: #18191f;
}
.card-details .price {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  font-size: 24px;
  margin-top: 6px;
}
.card-details .full-star {
  font-size: 12px;
  color: #fb8200;
}
.card-details .up-star {
  font-size: 12px;
  color: gray;
}
.ratings-count {
  display: inline-block;
  color: #5e6366;
  font-size: 14px;
  margin-left: 3%;
}
.card-bottom-info {
  margin-top: 4%;
}
.card-bottom-info p {
  color: #787885;
  font-size: 14px;
  line-height: 143%;
}
.see-more {
  text-align: right;
  margin-top: 50px;
  color: rgba(224, 44, 109, 0.87);
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 100px;
}

/* Featured products styles */
.featured-img {
  width: 100%;
}
.featured-products-main {
  display: flex;
  gap: 96px;
  height: 270px;
  align-items: center;
  margin-bottom: 100px;
}
.featured-right h1 {
  color: #0a0826;
  font-size: 38px;
}
.featured-right p {
  color: #6c6c6c;
  font-size: 16px;
  line-height: 28px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.featured-right button {
  padding: 10px 24px;
  color: #fff;
  border: none;
  background: var(--button-background);
}

/* footer styles */
footer {
  background: #0a0826;
  text-align: center;
  padding: 50px;
}
.footer-title {
  color: #fff;
  font-size: 24px;
  margin-bottom: 3px;
}
.footer-copy-right-text {
  color: #d9dbe1;
  font-size: 14px;
  margin-bottom: 3px;
}
.footer-description {
  color: #d9dbe1;
  margin-bottom: 17px;
}
.footer-social {
  color: #fff;
}
.footer-social i {
  background: #23213c;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 17px 15px;
  margin-right: 12px;
  cursor: pointer;
}

/*------------------------------
 Responsive Mobile device
 ------------------------------*/
@media only screen and (max-width: 576px) {
  /* header section */
  .main-header {
    padding: 35px 16px;
  }
  .container {
    width: 90%;
  }
  .logo-bars {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: center;
    width: 75%;
  }
  .logo-bars li {
    list-style-type: none;
    display: block;
  }
  .logo {
    font-size: 1.2em;
  }
  .menu ul {
    display: flex;
    align-items: center;
  }
  .menu ul li a {
    font-size: 0.8em;
  }
  .menu-bars {
    display: block;
  }
  .search-icon,
  .menu-item {
    display: none;
  }

  /* banner section */
  .banner-wrapper {
    flex-direction: column-reverse;
    height: auto;
    gap: 14px;
    margin-top: 80px;
  }
  .banner-camera-img {
    /* width: 17.625em; */
    /* height: 14.875em; */
    width: 100%;
    height: 100%;
  }
  .banner-left {
    text-align: center;
  }
  .banner-title {
    font-size: 28px;
  }
  .banner-description {
    font-size: 14px;
  }

  /* company logo section styles */
  section.company-logo-wrapper {
    margin-top: 12%;
  }
  .all-logo-company {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .single-logo {
    margin-bottom: 1em;
  }

  /* popular collection style */
  #popular-collection {
    margin-top: 15%;
  }
  .all-collection-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    width: 90%;
    margin: auto;
  }
  .see-more {
    width: 92%;
  }

  /* Featured products styles */
  .featured-products-main {
    flex-direction: column-reverse;
    height: auto;
    text-align: center;
  }
  .featured-right h1 {
    font-size: 2em;
  }
}

/* -----------------------------
Responsive tablet device 
--------------------------------*/
@media only screen and (min-width: 577px) and (max-width: 992px) {
  /* header section */
  .main-header {
    padding: 35px 16px;
  }
  .container {
    width: 85%;
  }
  .logo {
    font-size: 1em;
  }
  .menu ul li {
    padding: 0px 6px;
  }
  .menu ul li a {
    font-size: 0.7em;
  }

  /* banner section */
  .banner-wrapper {
    gap: 1%;
  }
  .banner-title {
    font-size: 2em;
  }
  .banner-description {
    font-size: 0.8em;
  }
  .banner-btn {
    padding: 7px 13px;
  }
  .banner-camera-img {
    width: 330px;
    height: 330px;
  }

  /* company logo section styles */
  .all-logo-company {
    width: 100% !important;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .all-logo-company {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  /* popular collection style */
  #popular-collection {
    margin-top: 9%;
  }
  .all-collection-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    width: 100%;
  }
}

@media screen and (min-width: 993px) and (max-width: 1176px) {
  /* header section */
  .main-header {
    padding: 35px 16px;
  }
  .container {
    width: 85%;
  }

  /* company logo section */
  .all-logo-company {
    width: 100%;
  }
}
